branches:
  only:
    - master

environment:
  access_token:
    secure: jr6wOpi9H/yYyVdODLSxisEjH6X4K8aeVDrfTn90cvc/5+HKCkwIaBTnVsn+1B0vMoCXsG+hCkyqrKGlbaAZHjFogYCpjdAEZ6EWF0gtrrJt5geJi0z7c/HLSuBl4VsQ

install:
  - ps: choco install hugo-extended --no-progress

before_build:
  - git submodule update --init --recursive
  # Output useful info for debugging.
  - hugo version

build_script:
  - hugo -d ..\publish

on_success:
  # Checkout blog publish git repo
  # See http://www.appveyor.com/docs/how-to/git-push for more info
  - git config --global credential.helper store
  - git config --global user.email $env:git_email
  - git config --global user.name $env:git_name
  - ps: Write-Host $env:git_name $env:git_email
  - ps: Add-Content "$env:USERPROFILE\.git-credentials" "https://$($env:access_token):x-oauth-basic@github.com`n" -NoNewline
  - git clone https://github.com/tmpreston/tmpreston.github.com.git ..\blog_publish
  - cd ..\blog_publish
  - rm -rf *
  - xcopy /S /E ..\publish\* .
  - git add -A
  - git commit -a -m "Commit from AppVeyor"
  - git push
